{% extends 'base.html' %}

{% load staticfiles %}

{% block body_block %}
  <h1>Hello, <strong>{{ user.username }}</strong>!</h1>

  <div class="contentBox">
  {% if todolists %}
    <div id="lists">
    <ul>
      {% for todolist in todolists %}
        <li class="todolist">
          {{ todolist.created_on }} |
          <a class="listName" href="{% url 'todolist' todolist.user todolist.slug %}">{{ todolist.name }}</a>
          <span class="deleteList" data-listid="{{ todolist.id }}"></span>
        </li>
      {% endfor %}
    </ul>
    </div>
  {% else %}
    <strong>You don't have any lists.</strong>
  {% endif %}
    <a class="textlink" href="{% url 'create_todolist' %}">Create a List</a><br />
  </div>
{% endblock %}
