{% load staticfiles %}

<script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
<script src='{% static "js/simpleChecklist-jQuery.js" %}'></script>

{% if tasks %}
<div id="tasks">

  <span class="sortLabel">sort by:</span>
  <span class="sortLabel">due date</span>
  <span class="sort asc" data-listid="{{ todolist.id }}" data-sorttype="date"></span>
  <span class="sort desc" data-listid="{{ todolist.id }}" data-sorttype="-date"></span>
  <span class="sortLabel">priority</span>
  <span class="sort asc" data-listid="{{ todolist.id }}" data-sorttype="priority"></span>
  <span class="sort desc" data-listid="{{ todolist.id }}" data-sorttype="-priority"></span>

  <table>
    {% for task in tasks %}
      <tr class="task">
        <td class="taskInfo">{{ task.date }} | {{ task.name }}, priority: {{ task.get_priority_display }}
        </td>
        <td class="deleteButton">
        <span class="deleteTask" data-listid="{{ todolist.id }}" data-taskid="{{ task.id }}"></span>
        </td>
      </tr>
      <tr class="note">
        <td class="taskNote"><strong>-</strong> {{ task.note }}</td>
      </tr>
    {% endfor %}
  </table>
</div>
{% else %}
  <strong>No tasks currently in todolist.</strong>
{% endif %}
